<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ultrapower.clustercontrol.dao.TestModelDaoMapper">
   <resultMap id="BaseResultMap" type="com.ultrapower.clustercontrol.model.TestModel" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
   </resultMap>
   
   <select id="findAllTestModels" resultMap="BaseResultMap" >
       SELECT id, name
       FROM test_model
   </select>
</mapper>